[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
pymysql = "*"
pydantic-settings = "*"
fpdf2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
